.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background-color: #60a3bc;
    font-family: 'Nunito', sans-serif;
    color:white;
}
.title{
    margin:20px;
    font-size: 64px;
}
@media all and (max-width: 400px){
    .title{
        font-size: 40px;
    }
}
.subtitle{
    margin:40px;
    font-size: 20px;
}
@media all and (max-width: 400px){
    .subtitle{
        font-size: 20px;
    }
}
.btn{
    width: 120px;
    height: 50px;
    margin:30px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 800;
    border-radius: 25%;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; */
}
.btn:focus {
    outline: none;
}
@keyframes wave {
    0%{ top: -50%; }
    100%{ top: 50%; }
}
span{
    position:absolute;
}
span:nth-of-type(1){
    left: 0;
    animation: wave 1s ease-in-out infinite alternate 0.05s;
}
span:nth-of-type(2){
    left: 18px;
    animation: wave 1s ease-in-out infinite alternate 0.10s;
}
span:nth-of-type(3){
    left: 43px;
    animation: wave 1s ease-in-out infinite alternate 0.15s;
}
span:nth-of-type(4){
    left:69px;
    animation: wave 1s ease-in-out infinite alternate 0.20s;
}
span:nth-of-type(5){
    left:92px;
    animation: wave 1s ease-in-out infinite alternate 0.25s;
}
span:nth-of-type(6){
    left:121px;
    animation: wave 1s ease-in-out infinite alternate 0.30s;
}
.excuse{
    display: flex;
    flex-direction: row;

}
.excuse_generator{
    margin: 20px;
    border: #D6A2E8 solid 4px;
    border-radius: 10px;
    padding:10px;
    font-size: 25px;
}
@media all and (max-width: 400px){
    .excuse_generator{
        margin:7px;
        font-size: 19px;
    }
}
.excuse_button{
    width: 30px;
    height: 30px;
    padding: 0px;
    background: transparent;
    border-radius: 50%;
    border: gold solid 2px;
    cursor: pointer;
}
@media all and (max-width: 400px){
    .excuse_button{
        width: 22px;
        height: 22px;
    }
}
.excuse_img{
    width: 100%;
}
.favorites{
    display: flex;
    flex-direction: column;
    padding:0px;
    font-size: 19px;
}
.hidden {
    display: none;
}




